
// SPDX-License-Identifier: UNLICENSED
pragma solidity ^0.8.13;

import "forge-std/Test.sol";
import "../src/{{ target_contract_name }}.sol";
import "../interface.sol";
{% if contract_imports %}
{% for import_path in contract_imports %}
import "{{ import_path }}";
{% endfor %}
{% else %}
import "../KameRouter.sol";
import "../ISwapRouter.sol";
import "../IERC20.sol";
{% endif %}
{% if additional_imports %}
{% for import_path in additional_imports %}
import "{{ import_path }}";
{% endfor %}
{% endif %}

// @KeyInfo - Total Lost : 18,167.8 USD
// Attacker : https://etherscan.io/address/0x5B18cF51EeAe6a3982F6E109C6DbbE632683f96B
// Attack Contract : https://etherscan.io/address/0x1fD8E2B0684c95bE88F7c2C51C62E8853EA2b274
// Vulnerable Contract : https://etherscan.io/address/0x852Cd828b79097e2B7D8e58Fb3Bb9fA9F3c87F44
// Attack Tx: {{ attack_tx_hash }}
// Withdrawal Tx: {{ withdrawal_tx_hash }}

// @Info
// Vulnerable Contract Code : {{ vulnerable_contract_code }}

// @Analysis
// Post-mortem : https://x.com/SupremacyHQ/status/1966909841483636849
// Twitter Guy : https://x.com/SupremacyHQ/status/1966909841483636849
// Hacking God : N/A

contract Kame_ArbitraryCall_2025_09_Exploit_{{ vulnerability_id }} is Test {
    {{ target_contract_name }} public target;

    function setUp() public {
        target = new {{ target_contract_name }}();
        vm.deal(address(this), 100 ether);
    }

    function testExploit_{{ vulnerability_id }}() public {
        address beforeOwner = target.owner();
        uint256 beforeBalance = address(target).balance;

        console.log("[-] Before: owner=%s bal=%s", beforeOwner, beforeBalance);

        {{ step_1_code }}
        {{ step_2_code }}

        address afterOwner = target.owner();
        uint256 afterBalance = address(target).balance;

        console.log("[+] After: owner=%s bal=%s", afterOwner, afterBalance);

        {{ invariant_check }}
    }
}

