
// SPDX-License-Identifier: UNLICENSED
pragma solidity ^0.8.13;

import "forge-std/Test.sol";
import "../src/{{ target_contract_name }}.sol";
import "../interface.sol";
{% if contract_imports %}
{% for import_path in contract_imports %}
import "{{ import_path }}";
{% endfor %}
{% else %}
import "../MIMSpell.sol";
import "../IERC20.sol";
import "../ILendingProtocol.sol";
{% endif %}
{% if additional_imports %}
{% for import_path in additional_imports %}
import "{{ import_path }}";
{% endfor %}
{% endif %}

// @KeyInfo - Total Lost : 1.7M USD
// Attacker : https://etherscan.io/address/0x33022e998c52e05d4Ff207cEa8573243e431e784
// Attack Contract : https://etherscan.io/address/0xd3A8b78497Ae791a6355df405FfA7aE4B765cE37
// Vulnerable Contract : https://etherscan.io/address/0xA51d3Bf92B49d4B7F9B0CD2F1c26E220A3c5De8e
// Attack Tx: {{ attack_tx_hash }}
// Withdrawal Tx: {{ withdrawal_tx_hash }}

// @Info
// Vulnerable Contract Code : {{ vulnerable_contract_code }}

// @Analysis
// Post-mortem : https://x.com/Phalcon_xyz/status/1974532815208485102
// Twitter Guy : https://x.com/Phalcon_xyz/status/1974532815208485102
// Hacking God : N/A

contract MIMSpell3_InsolvencyBypass_2025_10_Exploit_{{ vulnerability_id }} is Test {
    {{ target_contract_name }} public target;

    function setUp() public {
        target = new {{ target_contract_name }}();
        vm.deal(address(this), 100 ether);
    }

    function testExploit_{{ vulnerability_id }}() public {
        address beforeOwner = target.owner();
        uint256 beforeBalance = address(target).balance;

        console.log("[-] Before: owner=%s bal=%s", beforeOwner, beforeBalance);

        {{ step_1_code }}
        {{ step_2_code }}

        address afterOwner = target.owner();
        uint256 afterBalance = address(target).balance;

        console.log("[+] After: owner=%s bal=%s", afterOwner, afterBalance);

        {{ invariant_check }}
    }
}

